# Server Configuration
SECRET_KEY=yoursecretkeyhere

# Database Configuration
# DATABASE_URL=postgresql://user:password@localhost/databasename

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# Apple OAuth
APPLE_CLIENT_ID=your-apple-client-id
APPLE_CLIENT_SECRET=your-apple-client-secret
