# Server Configuration
SECRET_KEY=yoursecretkeyhere

# Database Configuration
# DATABASE_URL=postgresql://user:password@localhost/databasename

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

